.colourA{

    color: #66ff99; 
}

.bgcolourA{
    background-color: #66ff99;
}

.colourB{
    color: #fc4f4f;
}

.bgcolourB{
    background-color: #fc4f4f;
}

.colourC{
    color: #7e7e7e;
}

.bgcolourC{
    background-color: #7e7e7e;
}

.colourD{
    color: #fff;
}

.bgcolourD{
    background-color: #fff;
}

.colourE{
    color: #272727;
}

.bgcolourE{
    background-color: #272727;
}






